@CHARSET "UTF-8";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: auto;
}

.container {
	margin: 20px auto 0 auto;
	background: #ffffff;
	font-size: 12px;
}

.logo {
	font-size: 100px;
	font-weight: bold;
	color: #0066a4;
}

.tickets {
	vertical-align: middle;
	height: auto;
	font-size: 12px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #0066a4;
	border-bottom: solid 1px #0066a4;
	margin-bottom: 10px;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	color: #0066a4;
	border-bottom: solid 1px #0066a4;
}

table th {
	border-bottom: 1px #ccc solid;
	/* 	border-top: 1px #ccc solid; */
	padding: 5px 5px 5px 0px;
}

table td {
	border-bottom: 1px #ccc solid;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

hr {
	color: #ccc;
}

.langPT {

}

.langEN {
	font-style: italic
}

.legend {
	font-size: 10px;
}

.ticketQueue {
	text-align: left;
	padding-left: 5px;
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.newTicket {
	font-weight: bold;
	background-color: yellow;
}

.ticketBoardLastUpdateDate {
	color: gray;
	font-size: 10px;
}

.myticketSiteLink {
	font-size: 10px;
	color: #0066a4;
	font-weight: bold;
}
